PORT=8000

DB_USER=postgres
DB_PASSWORD=password
DB_NAME=db-hono-api
DB_HOST=localhost
DB_PORT=5432


# JWT_SECRET is used for signing and verifying JWT tokens. Make sure to set a strong secret key in your environment variables.  
JWT_SECRET=randomlyGeneratedSecretKey1234567890